header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
}


main > a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 250px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #a6d2e3;
    color: #333333;
}

main > a > h3 {
    font-size: 28px;
}

a:link,
a:visited
{
    text-decoration: none;
}

a:hover {
    background-color: #b8dae6;
}

a:active
{
    text-decoration: none;
}